:root {
    --primary-color: hsl(322, 100%, 66%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    text-transform: uppercase;
    color: var(--very-dark-cyan);
}