/*global properties*/

:root {
    --primary-color: hsl(322, 100%, 66%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    color: var(--very-dark-cyan);
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}


/*navigation*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

button {
    position: relative;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:focus,
button:active {
    outline: 0 !important;
}

nav>button {
    font-weight: 400;
    padding: 3px 14px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

nav>button:hover {
    color: #fff;
    background-color: var(--primary-color);
}

nav>button:active {
    -webkit-box-shadow: 2px 1px 22px -2px var(--primary-color);
    -moz-box-shadow: 2px 1px 22px -2px var(--primary-color);
    box-shadow: 2px 1px 22px -2px var(--primary-color);
}

.main {
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.hero {
    margin-top: 3rem;
    padding: 20px;
    text-align: center;
}

.hero p {
    max-width: 500px;
    text-align: center;
    margin: auto;
    font-weight: 400;
}

.hero>button,
.ready>button,
span>button {
    margin-top: 1.8rem;
    margin-bottom: 4rem;
    font-weight: 400;
    padding: 8px 30px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
}

.hero>button:hover,
.ready>button:hover,
span>button:hover {
    -webkit-box-shadow: 2px 1px 22px -2px var(--primary-color);
    -moz-box-shadow: 2px 1px 22px -2px var(--primary-color);
    box-shadow: 2px 1px 22px -2px var(--primary-color);
}

.hero>button:active,
.ready>button:active,
span>button:active {
    color: var(--primary-color);
    background-color: white;
}

.mockup-image>img {
    max-width: 100%;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 2rem 0;
}

.icons h1 {
    font-size: 4rem;
    margin: 10px 0;
}

.icons p {
    color: grey;
    text-align: center;
}

.left-icon {
    padding-left: 5rem;
}

.right-icon {
    padding-right: 5rem;
}

.section {
    width: 100%;
}

.section img {
    max-width: 100%;
}

.grow-section,
.users-section {
    background-color: var(--very-pale-blue);
}

.grow-section,
.flow-section,
.users-section {
    display: flex;
    justify-content: center;
}

.flow-section {
    margin: 3rem 0 4rem 0;
}

.before-grow-section {
    background: url("https://mariusz-ecommerce.s3-eu-west-1.amazonaws.com/static/img/bg-section-top-desktop-1.svg") no-repeat;
    height: 70px;
    background-size: 100% 100%;
}

.after-grow-section {
    background: url("https://mariusz-ecommerce.s3-eu-west-1.amazonaws.com/static/img/bg-section-bottom-desktop-1.svg") no-repeat;
    height: 70px;
    background-size: 100% 100%;
}

.before-users-section {
    background: url("https://mariusz-ecommerce.s3-eu-west-1.amazonaws.com/static/img/bg-section-top-desktop-2.svg") no-repeat;
    height: 70px;
    background-size: 100% 100%;
}

.after-users-section {
    background: url("https://mariusz-ecommerce.s3-eu-west-1.amazonaws.com/static/img/bg-section-bottom-desktop-2.svg") no-repeat;
    height: 70px;
    background-size: 100% 100%;
}

.container1 {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info p {
    font-size: 16px;
}

.info,
.container1 span {
    padding: 0 20px;
}

.ready {
    text-align: center;
}

.ready h1 {
    text-transform: capitalize;
}

.wave-before-footer {
    background: url("https://mariusz-ecommerce.s3-eu-west-1.amazonaws.com/static/img/bg-footer-top-desktop.svg") no-repeat;
    height: 70px;
    background-size: 100% 100%;
}

footer {
    background-color: var(--very-dark-cyan);
    color: white;
    display: flex;
    justify-content: center;
}

footer h3 {
    color: white;
}

.container2 {
    max-width: 1300px;
    padding: 0 2rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.middle-footer {
    flex: 1;
}

.left-footer {
    flex: 2;
}

.right-footer {
    flex: 2;
}

.left-footer span {
    display: flex;
    padding-bottom: 1rem;
}

.left-footer span img {
    padding-right: 1.5rem;
}

.social-icons {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.social-icons img {
    max-width: 1.9rem;
}

.social-icons img:nth-child(2) {
    margin: 0 1rem;
}

input {
    width: 12rem;
    height: 2rem;
    margin-right: 1rem;
}

span>button {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    padding: 4px 30px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
}

@media only screen and (max-width: 909px) {
    span>button {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .footer-top {
        flex-direction: column-reverse;
    }
    span>button {
        margin-top: 0;
    }
    .left-footer {
        margin-top: 6rem;
    }
    .icons {
        flex-direction: column;
        text-align: center;
    }
    .left-icon,
    .right-icon {
        padding: 1rem 0;
    }
    .container1 {
        flex-direction: column-reverse;
        text-align: center;
    }
    .flow-section .container1 {
        flex-direction: column;
    }
    .ready {
        margin-top: 3rem;
    }
    nav>button {
        padding: 4px 8px;
        font-size: 13px;
    }
    nav img {
        max-width: 75%;
    }
}

@media only screen and (max-width: 401px) {
    span>button {
        margin-top: 1rem;
    }
    .wave-before-footer {
        background: url("https://mariusz-ecommerce.s3-eu-west-1.amazonaws.com/static/img/bg-footer-top-mobile.svg") no-repeat;
        height: 70px;
        background-size: 100% 100%;
    }
    .before-grow-section {
        background: url("https://mariusz-ecommerce.s3-eu-west-1.amazonaws.com/static/img/bg-section-top-mobile-1.svg") no-repeat;
        height: 70px;
        background-size: 100% 100%;
    }
    .after-grow-section {
        background: url("https://mariusz-ecommerce.s3-eu-west-1.amazonaws.com/static/img/bg-section-bottom-mobile-1.svg") no-repeat;
        height: 70px;
        background-size: 100% 100%;
    }
    .before-users-section {
        background: url("https://mariusz-ecommerce.s3-eu-west-1.amazonaws.com/static/img//bg-section-top-mobile-2.svg") no-repeat;
        height: 70px;
        background-size: 100% 100%;
    }
    .after-users-section {
        background: url("https://mariusz-ecommerce.s3-eu-west-1.amazonaws.com/static/img//bg-section-bottom-mobile-2.svg") no-repeat;
        height: 70px;
        background-size: 100% 100%;
    }
}