/*global properties*/

:root {
    --primary-color: hsl(322, 100%, 66%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    color: var(--very-dark-cyan);
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1440px;
    margin: auto;
}


/*navigation*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
}

button {
    position: relative;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

nav>button {
    font-weight: 400;
    padding: 3px 14px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

nav>button:hover {
    color: #fff;
    background-color: var(--primary-color);
}

nav>button:active {
    -webkit-box-shadow: 2px 1px 22px -2px var(--primary-color);
    -moz-box-shadow: 2px 1px 22px -2px var(--primary-color);
    box-shadow: 2px 1px 22px -2px var(--primary-color);
    outline: 0;
}

.main {
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.hero {
    margin-top: 3rem;
    padding: 20px;
    text-align: center;
}

.hero p {
    max-width: 500px;
    text-align: center;
    margin: auto;
}

.hero>button {
    margin-top: 1.8rem;
    margin-bottom: 4rem;
    font-weight: 400;
    padding: 8px 30px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
}

.hero>button:hover {
    color: var(--primary-color);
    background-color: white;
}

.hero>button:active {
    -webkit-box-shadow: 2px 1px 22px -2px var(--primary-color);
    -moz-box-shadow: 2px 1px 22px -2px var(--primary-color);
    box-shadow: 2px 1px 22px -2px var(--primary-color);
    outline: 0;
}

.mockup-image>img {
    max-width: 100%;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.icons h1 {
    font-size: 4rem;
    margin: 10px 0;
}

.icons p{
    color: grey;
    text-align: center;
}

.left-icon {
    padding-left: 5rem;
}

.right-icon {
    padding-right: 5rem;
}